{% if site.data.meng.background.switch == true %}
<script type="text/javascript" color="0,0,0" opacity='0.5' zIndex="-2" count="99">
  !function(){
 "use strict";
 function e(e){
  return e&&e.__esModule&&Object.prototype.hasOwnProperty.call(e,"default")?e.default:e
 }
 function t(e,t){
  return e(t={
   exports:{
   }
  }
  ,t.exports),t.exports
 }
 var n=t(function(e,t){
  Object.defineProperty(t,"__esModule",{
   value:!0
  }
  );
  var n=1;
  t.default=function(){
   return""+n++
  }
  ,e.exports=t.default
 }
 );
 e(n);
 var o=t(function(e,t){
  Object.defineProperty(t,"__esModule",{
   value:!0
  }
  ),t.default=function(e){
   var t=arguments.length>1&&void 0!==arguments[1]?arguments[1]:30,n=null;
   return function(){
    for(var o=this,i=arguments.length,r=Array(i),a=0;
    a<i;
    a++)r[a]=arguments[a];
    clearTimeout(n),n=setTimeout(function(){
     e.apply(o,r)
    }
    ,t)
   }
  }
  ,e.exports=t.default
 }
 );
 e(o);
 var i=t(function(e,t){
  Object.defineProperty(t,"__esModule",{
   value:!0
  }
  );
  t.SizeSensorId="size-sensor-id",t.SensorStyle="display:block;
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  overflow:hidden;
  pointer-events:none;
  z-index:-1;
  opacity:0",t.SensorClassName="size-sensor-object"
 }
 );
 e(i);
 i.SizeSensorId,i.SensorStyle,i.SensorClassName;
 var r=t(function(e,t){
  Object.defineProperty(t,"__esModule",{
   value:!0
  }
  ),t.createSensor=void 0;
  var n,r=(n=o)&&n.__esModule?n:{
   default:n
  }
  ;
  t.createSensor=function(e){
   var t=void 0,n=[],o=(0,r.default)(function(){
    n.forEach(function(t){
     t(e)
    }
    )
   }
   ),a=function(){
    t&&t.parentNode&&(t.contentDocument.defaultView.removeEventListener("resize",o),t.parentNode.removeChild(t),t=void 0,n=[])
   }
   ;
   return{
    element:e,bind:function(r){
     t||(t=function(){
      "static"===getComputedStyle(e).position&&(e.style.position="relative");
      var t=document.createElement("object");
      return t.onload=function(){
       t.contentDocument.defaultView.addEventListener("resize",o),o()
      }
      ,t.setAttribute("style",i.SensorStyle),t.setAttribute("class",i.SensorClassName),t.type="text/html",e.appendChild(t),t.data="about:blank",t
     }
     ()),-1===n.indexOf(r)&&n.push(r)
    }
    ,destroy:a,unbind:function(e){
     var o=n.indexOf(e);
     -1!==o&&n.splice(o,1),0===n.length&&t&&a()
    }
   }
  }
 }
 );
 e(r);
 r.createSensor;
 var a=t(function(e,t){
  Object.defineProperty(t,"__esModule",{
   value:!0
  }
  ),t.createSensor=void 0;
  var n,i=(n=o)&&n.__esModule?n:{
   default:n
  }
  ;
  t.createSensor=function(e){
   var t=void 0,n=[],o=(0,i.default)(function(){
    n.forEach(function(t){
     t(e)
    }
    )
   }
   ),r=function(){
    t.disconnect(),n=[],t=void 0
   }
   ;
   return{
    element:e,bind:function(i){
     t||(t=function(){
      var t=new ResizeObserver(o);
      return t.observe(e),o(),t
     }
     ()),-1===n.indexOf(i)&&n.push(i)
    }
    ,destroy:r,unbind:function(e){
     var o=n.indexOf(e);
     -1!==o&&n.splice(o,1),0===n.length&&t&&r()
    }
   }
  }
 }
 );
 e(a);
 a.createSensor;
 var s=t(function(e,t){
  Object.defineProperty(t,"__esModule",{
   value:!0
  }
  ),t.createSensor=void 0;
  t.createSensor="undefined"!=typeof ResizeObserver?a.createSensor:r.createSensor
 }
 );
 e(s);
 s.createSensor;
 var u=t(function(e,t){
  Object.defineProperty(t,"__esModule",{
   value:!0
  }
  ),t.removeSensor=t.getSensor=void 0;
  var o,r=(o=n)&&o.__esModule?o:{
   default:o
  }
  ;
  var a={
  }
  ;
  t.getSensor=function(e){
   var t=e.getAttribute(i.SizeSensorId);
   if(t&&a[t])return a[t];
   var n=(0,r.default)();
   e.setAttribute(i.SizeSensorId,n);
   var o=(0,s.createSensor)(e);
   return a[n]=o,o
  }
  ,t.removeSensor=function(e){
   var t=e.element.getAttribute(i.SizeSensorId);
   e.element.removeAttribute(i.SizeSensorId),e.destroy(),t&&a[t]&&delete a[t]
  }
 }
 );
 e(u);
 u.removeSensor,u.getSensor;
 var c=t(function(e,t){
  Object.defineProperty(t,"__esModule",{
   value:!0
  }
  ),t.clear=t.bind=void 0;
  t.bind=function(e,t){
   var n=(0,u.getSensor)(e);
   return n.bind(t),function(){
    n.unbind(t)
   }
  }
  ,t.clear=function(e){
   var t=(0,u.getSensor)(e);
   (0,u.removeSensor)(t)
  }
 }
 );
 e(c);
 var l=c.clear,d=c.bind,v=window.requestAnimationFrame||window.webkitRequestAnimationFrame||window.mozRequestAnimationFrame||window.msRequestAnimationFrame||window.oRequestAnimationFrame||function(e){
  return window.setTimeout(e,1e3/60)
 }
 ,f=window.cancelAnimationFrame||window.webkitCancelAnimationFrame||window.mozCancelAnimationFrame||window.msCancelAnimationFrame||window.oCancelAnimationFrame||window.clearTimeout,m=function(e){
  return new Array(e).fill(0).map(function(e,t){
   return t
  }
  )
 }
 ,h=Object.assign||function(e){
  for(var t=1;
  t<arguments.length;
  t++){
   var n=arguments[t];
   for(var o in n)Object.prototype.hasOwnProperty.call(n,o)&&(e[o]=n[o])
  }
  return e
 }
 ,p=function(){
  function e(e,t){
   for(var n=0;
   n<t.length;
   n++){
    var o=t[n];
    o.enumerable=o.enumerable||!1,o.configurable=!0,"value"in o&&(o.writable=!0),Object.defineProperty(e,o.key,o)
   }
  }
  return function(t,n,o){
   return n&&e(t.prototype,n),o&&e(t,o),t
  }
 }
 ();
 var y=function(){
  function e(t,n){
   var o=this;
   !function(e,t){
    if(!(e instanceof t))throw new TypeError("Cannot call a class as a function")
   }
   (this,e),this.randomPoints=function(){
    return m(o.c.count).map(function(){
     return{
      x:Math.random()*o.canvas.width,y:Math.random()*o.canvas.height,xa:2*Math.random()-1,ya:2*Math.random()-1,max:6e3
     }
    }
    )
   }
   ,this.el=t,this.c=h({
    zIndex:-1,opacity:.5,color:"0,0,0",pointColor:"0,0,0",count:99
   }
   ,n),this.canvas=this.newCanvas(),this.context=this.canvas.getContext("2d"),this.points=this.randomPoints(),this.current={
    x:null,y:null,max:2e4
   }
   ,this.all=this.points.concat([this.current]),this.bindEvent(),this.requestFrame(this.drawCanvas)
  }
  return p(e,[{
   key:"bindEvent",value:function(){
    var e=this;
    d(this.el,function(){
     e.canvas.width=e.el.clientWidth,e.canvas.height=e.el.clientHeight
    }
    ),this.onmousemove=window.onmousemove,window.onmousemove=function(t){
     e.current.x=t.clientX-e.el.offsetLeft+document.scrollingElement.scrollLeft,e.current.y=t.clientY-e.el.offsetTop+document.scrollingElement.scrollTop,e.onmousemove&&e.onmousemove(t)
    }
    ,this.onmouseout=window.onmouseout,window.onmouseout=function(){
     e.current.x=null,e.current.y=null,e.onmouseout&&e.onmouseout()
    }
   }
  }
  ,{
   key:"newCanvas",value:function(){
    "static"===getComputedStyle(this.el).position&&(this.el.style.position="relative");
    var e,t=document.createElement("canvas");
    return t.style.cssText="display:block;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    overflow:hidden;
    pointer-events:none;
    z-index:"+(e=this.c).zIndex+";
    opacity:"+e.opacity,t.width=this.el.clientWidth,t.height=this.el.clientHeight,this.el.appendChild(t),t
   }
  }
  ,{
   key:"requestFrame",value:function(e){
    var t=this;
    this.tid=v(function(){
     return e.call(t)
    }
    )
   }
  }
  ,{
   key:"drawCanvas",value:function(){
    var e=this,t=this.context,n=this.canvas.width,o=this.canvas.height,i=this.current,r=this.points,a=this.all;
    t.clearRect(0,0,n,o);
    var s=void 0,u=void 0,c=void 0,l=void 0,d=void 0,v=void 0;
    r.forEach(function(r,f){
     for(r.x+=r.xa,r.y+=r.ya,r.xa*=r.x>n||r.x<0?-1:1,r.ya*=r.y>o||r.y<0?-1:1,t.fillStyle="rgba("+e.c.pointColor+")",t.fillRect(r.x-.5,r.y-.5,1,1),u=f+1;
     u<a.length;
     u++)null!==(s=a[u]).x&&null!==s.y&&(l=r.x-s.x,d=r.y-s.y,(v=l*l+d*d)<s.max&&(s===i&&v>=s.max/2&&(r.x-=.03*l,r.y-=.03*d),c=(s.max-v)/s.max,t.beginPath(),t.lineWidth=c/2,t.strokeStyle="rgba("+e.c.color+","+(c+.2)+")",t.moveTo(r.x,r.y),t.lineTo(s.x,s.y),t.stroke()))
    }
    ),this.requestFrame(this.drawCanvas)
   }
  }
  ,{
   key:"destroy",value:function(){
    l(this.el),window.onmousemove=this.onmousemove,window.onmouseout=this.onmouseout,f(this.tid),this.canvas.parentNode.removeChild(this.canvas)
   }
  }
  ]),e
 }
 ();
 y.version="2.0.4";
 var w,b;
 new y(document.body,(w=document.getElementsByTagName("script"),{
  zIndex:(b=w[w.length-1]).getAttribute("zIndex"),opacity:b.getAttribute("opacity"),color:b.getAttribute("color"),pointColor:b.getAttribute("pointColor"),count:Number(b.getAttribute("count"))||99
 }
 ))
}
();
</script>

<script type="text/javascript">
(function(name, factory) {
  if (typeof window === "object") {
   window[name] = factory() 
 }
}
)("Ribbons", function() {
  var _w = window, _b = document.body, _d = document.documentElement;
  var random = function() {
   if (arguments.length === 1) {
    if (Array.isArray(arguments[0])) {
     var index = Math.round(random(0, arguments[0].length - 1));
     return arguments[0][index] 
   }
    return random(0, arguments[0]) 
  }
   else if (arguments.length === 2) {
    return Math.random() * (arguments[1] - arguments[0]) + arguments[0] 
  }
   return 0 
 }
 ;
  var screenInfo = function(e) {
   var width = Math.max(0, _w.innerWidth || _d.clientWidth || _b.clientWidth || 0), height = Math.max(0, _w.innerHeight || _d.clientHeight || _b.clientHeight || 0), scrollx = Math.max(0, _w.pageXOffset || _d.scrollLeft || _b.scrollLeft || 0) - (_d.clientLeft || 0), scrolly = Math.max(0, _w.pageYOffset || _d.scrollTop || _b.scrollTop || 0) - (_d.clientTop || 0);
   return {
    width: width, height: height, ratio: width / height, centerx: width / 2, centery: height / 2, scrollx: scrollx, scrolly: scrolly 
  }
 }
 ;
  var mouseInfo = function(e) {
   var screen = screenInfo(e), mousex = e ? Math.max(0, e.pageX || e.clientX || 0) : 0, mousey = e ? Math.max(0, e.pageY || e.clientY || 0) : 0;
   return {
    mousex: mousex, mousey: mousey, centerx: mousex - screen.width / 2, centery: mousey - screen.height / 2 
  }
 }
 ;
  var Point = function(x, y) {
   this.x = 0;
   this.y = 0;
   this.set(x, y) 
 }
 ;
  Point.prototype = {
   constructor: Point, set: function(x, y) {
    this.x = x || 0;
    this.y = y || 0 
  }
  , copy: function(point) {
    this.x = point.x || 0;
    this.y = point.y || 0;
    return this 
  }
  , multiply: function(x, y) {
    this.x *= x || 1;
    this.y *= y || 1;
    return this 
  }
  , divide: function(x, y) {
    this.x /= x || 1;
    this.y /= y || 1;
    return this 
  }
  , add: function(x, y) {
    this.x += x || 0;
    this.y += y || 0;
    return this 
  }
  , subtract: function(x, y) {
    this.x -= x || 0;
    this.y -= y || 0;
    return this 
  }
  , clampX: function(min, max) {
    this.x = Math.max(min, Math.min(this.x, max));
    return this 
  }
  , clampY: function(min, max) {
    this.y = Math.max(min, Math.min(this.y, max));
    return this 
  }
  , flipX: function() {
    this.x *= -1;
    return this 
  }
  , flipY: function() {
    this.y *= -1;
    return this 
  }
 }
 ;
  var Factory = function(options) {
   this._canvas = null;
   this._context = null;
   this._sto = null;
   this._width = 0;
   this._height = 0;
   this._scroll = 0;
   this._ribbons = [];
   this._options = {
    colorSaturation: "80%", colorBrightness: "60%", colorAlpha: 0.65, colorCycleSpeed: 6, verticalPosition: "center", horizontalSpeed: 150, ribbonCount: 5, strokeSize: 5, parallaxAmount: -0.5, animateSections: true 
  }
  ;
   this._onDraw = this._onDraw.bind(this);
   this._onResize = this._onResize.bind(this);
   this._onScroll = this._onScroll.bind(this);
   this.setOptions(options);
   this.init() 
 }
 ;
  Factory.prototype = {
   constructor: Factory, setOptions: function(options) {
    if (typeof options === "object") {
     for (var key in options) {
      if (options.hasOwnProperty(key)) {
       this._options[key] = options[key] 
     }
    }
   }
  }
  , init: function() {
    try {
     this._canvas = document.createElement("canvas");
     this._canvas.style["display"] = "block";
     this._canvas.style["position"] = "fixed";
     this._canvas.style["margin"] = "0";
     this._canvas.style["padding"] = "0";
     this._canvas.style["border"] = "0";
     this._canvas.style["outline"] = "0";
     this._canvas.style["left"] = "0";
     this._canvas.style["top"] = "0";
     this._canvas.style["width"] = "100%";
     this._canvas.style["height"] = "100%";
     this._canvas.style["z-index"] = "-1";
     this._onResize();
     this._context = this._canvas.getContext("2d");
     this._context.clearRect(0, 0, this._width, this._height);
     this._context.globalAlpha = this._options.colorAlpha;
     window.addEventListener("resize", this._onResize);
     window.addEventListener("scroll", this._onScroll);
     document.body.appendChild(this._canvas) 
   }
    catch (e) {
     console.warn("Canvas Context Error: " + e.toString());
     return 
   }
    this._onDraw() 
  }
  , addRibbon: function() {
    var dir = Math.round(random(1, 9)) > 5 ? "right" : "left", stop = 1000, hide = 200, min = 0 - hide, max = this._width + hide, movex = 0, movey = 0, startx = dir === "right" ? min : max, starty = Math.round(random(0, this._height));
    if (/^(top|min)$/i.test(this._options.verticalPosition)) {
     starty = 0 + hide 
   }
    else if (/^(middle|center)$/i.test(this._options.verticalPosition)) {
     starty = this._height / 2 
   }
    else if (/^(bottom|max)$/i.test(this._options.verticalPosition)) {
     starty = this._height - hide 
   }
    var ribbon = [], point1 = new Point(startx, starty), point2 = new Point(startx, starty), point3 = null, color = Math.round(random(0, 360)), delay = 0;
    while (true) {
     if (stop <= 0) break;
     stop--;
     movex = Math.round((Math.random() * 1 - 0.2) * this._options.horizontalSpeed);
     movey = Math.round((Math.random() * 1 - 0.5) * (this._height * 0.25));
     point3 = new Point();
     point3.copy(point2);
     if (dir === "right") {
      point3.add(movex, movey);
      if (point2.x >= max) break 
    }
     else if (dir === "left") {
      point3.subtract(movex, movey);
      if (point2.x <= min) break 
    }
     ribbon.push({
      point1: new Point(point1.x, point1.y), point2: new Point(point2.x, point2.y), point3: point3, color: color, delay: delay, dir: dir, alpha: 0, phase: 0 
    }
    );
     point1.copy(point2);
     point2.copy(point3);
     delay += 4;
     color += this._options.colorCycleSpeed 
   }
    this._ribbons.push(ribbon) 
  }
  , _drawRibbonSection: function(section) {
    if (section) {
     if (section.phase >= 1 && section.alpha <= 0) {
      return true 
    }
     if (section.delay <= 0) {
      section.phase += 0.02;
      section.alpha = Math.sin(section.phase) * 1;
      section.alpha = section.alpha <= 0 ? 0 : section.alpha;
      section.alpha = section.alpha >= 1 ? 1 : section.alpha;
      if (this._options.animateSections) {
       var mod = Math.sin(1 + section.phase * Math.PI / 2) * 0.1;
       if (section.dir === "right") {
        section.point1.add(mod, 0);
        section.point2.add(mod, 0);
        section.point3.add(mod, 0) 
      }
       else {
        section.point1.subtract(mod, 0);
        section.point2.subtract(mod, 0);
        section.point3.subtract(mod, 0) 
      }
       section.point1.add(0, mod);
       section.point2.add(0, mod);
       section.point3.add(0, mod) 
     }
    }
     else {
      section.delay -= 0.5 
    }
     var s = this._options.colorSaturation, l = this._options.colorBrightness, c = "hsla(" + section.color + ", " + s + ", " + l + ", " + section.alpha + " )";
     this._context.save();
     if (this._options.parallaxAmount !== 0) {
      this._context.translate(0, this._scroll * this._options.parallaxAmount) 
    }
     this._context.beginPath();
     this._context.moveTo(section.point1.x, section.point1.y);
     this._context.lineTo(section.point2.x, section.point2.y);
     this._context.lineTo(section.point3.x, section.point3.y);
     this._context.fillStyle = c;
     this._context.fill();
     if (this._options.strokeSize > 0) {
      this._context.lineWidth = this._options.strokeSize;
      this._context.strokeStyle = c;
      this._context.lineCap = "round";
      this._context.stroke() 
    }
     this._context.restore() 
   }
    return false 
  }
  , _onDraw: function() {
    for (var i = 0, t = this._ribbons.length;
    i < t;
    ++i) {
     if (!this._ribbons[i]) {
      this._ribbons.splice(i, 1) 
    }
   }
    this._context.clearRect(0, 0, this._width, this._height);
    for (var a = 0;
    a < this._ribbons.length;
    ++a) {
     var ribbon = this._ribbons[a], numSections = ribbon.length, numDone = 0;
     for (var b = 0;
     b < numSections;
     ++b) {
      if (this._drawRibbonSection(ribbon[b])) {
       numDone++ 
     }
    }
     if (numDone >= numSections) {
      this._ribbons[a] = null 
    }
   }
    if (this._ribbons.length < this._options.ribbonCount) {
     this.addRibbon() 
   }
    requestAnimationFrame(this._onDraw) 
  }
  , _onResize: function(e) {
    var screen = screenInfo(e);
    this._width = screen.width;
    this._height = screen.height;
    if (this._canvas) {
     this._canvas.width = this._width;
     this._canvas.height = this._height;
     if (this._context) {
      this._context.globalAlpha = this._options.colorAlpha 
    }
   }
  }
  , _onScroll: function(e) {
    var screen = screenInfo(e);
    this._scroll = screen.scrolly 
  }
 }
 ;
  return Factory 
}
);
 new Ribbons({
  colorSaturation: "60%", colorBrightness: "50%", colorAlpha: 0.5, colorCycleSpeed: 5, verticalPosition: "random", horizontalSpeed: 200, ribbonCount: 3, strokeSize: 0, parallaxAmount: -0.2, animateSections: true 
}
);
</script>

<style>
#toc-card{
    background-color:transparent;
}
#toc a{
    color: {{site.data.meng.background.text_color}};
}
</style>

{% if site.data.meng.background.transparent_header == true %}
<style>
header{
    background-color:rgba(255, 255, 255, 0.8);
    color: {{site.data.meng.background.text_color}};
}
</style>

{% endif %}
{% if site.data.meng.background.transparent_footer == true %}
<style>
footer .mdui-card{
    color: {{site.data.meng.background.text_color}};
    background-color:rgba(255, 255, 255, 0.8);
}
</style>
{% endif %}
{% endif %}