{% if site.data.meng.background.switch == true %}
  <script type="text/javascript" color="0,0,0" opacity='0.5' zIndex="-2" count="99" src="https://cdn.bootcss.com/canvas-nest.js/2.0.4/canvas-nest.js"></script>
  <script type="text/javascript" src="https://g.joyinshare.com/hc/piao.js"></script>

<style>
#toc-card{
    background-color:transparent;
}
#toc a{
    color: {{site.data.meng.background.text_color}};
}
</style>

{% if site.data.meng.background.transparent_header == true %}
<style>
header{
    background-color:rgba(255, 255, 255, 0.9);
    color: {{site.data.meng.background.text_color}};
}
</style>

{% endif %}
{% if site.data.meng.background.transparent_footer == true %}
<style>
footer .mdui-card{
    color: {{site.data.meng.background.text_color}};
    background-color:rgba(255, 255, 255, 0.9);
}
</style>
{% endif %}
{% endif %}