{% assign meting = site.data.meng.music_player %}
<style>
@media screen and (max-width:600px) {
	.k-music-card {
		transform:translateX(-300px)
	}
}
.k-music-card {
	width:320px;
	box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
	border-radius:0 8px 8px 0;
	position:fixed;
	top:25%;
	z-index:999;
	transition:transform .5s ease;
}
.aplayer {
	background:#fff;
	float:left;
	width:300px;
	margin:0 auto;
	box-shadow:none;
	border-radius:0;
	overflow:hidden;
	user-select:none;
	line-height:initial;
	position:relative;
}
.k-music-btn {
	text-align:center;
	line-height:90px;
	color:#fff;
	width:20px;
	height:90px;
	background:rgba(0,0,0,0.7) none repeat scroll 0% 0%;
	border-radius:0 8px 8px 0;
	position:relative;
	right:0px;
	bottom:0px;
	box-sizing:border-box;
	border-left:none;
	cursor:pointer;
	overflow:hidden;
	display:box-shadow:;
	float:right;
	user-select:none;
	-ms-user-select:none;
	-moz-user-select:none;
	-webkit-user-select:none;
}
@supports (-webkit-backdrop-filter:brightness(100%) blur(15px)) or (backdrop-filter:brightness(100%) blur(15px)) {
	.k-music-btn {
		background:rgba(0,0,0,0.7) none repeat scroll 0% 0%;
		-webkit-backdrop-filter:brightness(100%) blur(15px);
		backdrop-filter:brightness(100%) blur(15px);
	}
}
</style>
<script src="https://cdn.jsdelivr.net/npm/meting/dist/Meting.min.js"></script>
<div class="k-music-card">
<meting-js
	server="{{meting.server}}"
	type="{{meting.type}}"
	id="{{meting.id}}"
	autoplay="{{meting.autoplay}}"
	theme="{{meting.theme}}"
	loop="{{meting.loop}}"
	order="{{meting.order}}"
	preload="{{meting.preload}}"
	volume="{{meting.volume}}"
	mutex="{{meting.mutex}}"
	list-folded="true"
	list-max-height="296px"
	storage-name="metingjs">
</meting-js>
<div class="k-music-btn">‖</div>
</div>
<script>
$(".aplayer-list").addClass("aplayer-list-hide");
if ($(window).width() <= 600) {
    var flag = true;
} else {
    var flag = false;
}
$('.k-music-btn').click(function() {
    if (flag == false) {
        $('.k-music-card').css('transform', 'translateX(-300px)');
        flag = true;
    } else if (flag == true) {
        $('.k-music-card').css('transform', 'translateX(0px)');
        flag = false;
    }
    if (!$(".aplayer-list").hasClass('aplayer-list-hide')) {
        $(".aplayer-list").addClass('aplayer-list-hide');
    }
});
document.addEventListener("visibilitychange", function() {
    if (document.visibilityState == "hidden") {
        ap.pause();
    }
    if (document.visibilityState == "visible") {
        ap.play();
    }
}, false);
</script>