{% assign meting = site.data.meng.music_player %}
<style>
.k-music-card {
	position:fixed;
	top:25%;
	display:flex;
	flex-flow:row nowrap;
	justify-content:flex-start;
	z-index:999;
	transition:transform .5s ease
}
@media screen and (max-width:600px) {
	.k-music-card {
		transform:translateX(calc(-100% + 20px))
	}
}
@media screen and (max-width:300px) {
	.k-music-card {
		transform:translateX(-100%)
	}
}
.aplayer {
	background:#fff;
	margin:0 auto;
	box-shadow:0 1px 2px 0 rgba(0,0,0,.4),0 2px 5px 0 rgba(0,0,0,.2);
	border-radius:0;
	overflow:hidden;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	line-height:initial;
	position:relative
}
@media screen and (min-width:420px) {
	.aplayer {
		width:360px
	}
}
@media screen and (min-width:360px) and (max-width:419px) {
	.aplayer {
		width:320px
	}
}
@media screen and (min-width:320px) and (max-width:359px) {
	.aplayer {
		width:280px
	}
}
@media screen and (max-width:319px) {
	.aplayer {
		width:auto
	}
}
.aplayer.aplayer-withlist .aplayer-info {
	border-bottom:none
}
.aplayer .aplayer-body {
	position:relative;
	box-shadow:0 1px 2px 0 rgba(0,0,0,.2),0 2px 5px 0 rgba(0,0,0,.1)
}
.k-music-btn {
	flex:none;
	text-align:center;
	line-height:90px;
	color:#fff;
	width:20px;
	height:90px;
	background:{{meting.btn-color}} none repeat scroll 0% 0%;
	position:relative;
	overflow:hidden;
	right:0;
	bottom:0;
	box-sizing:border-box;
	border-left:none;
	box-shadow:0 1px 2px 0 rgba(0,0,0,.4),0 2px 5px 0 rgba(0,0,0,.2);
	display:inline;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.k-music-btn:hover {
	cursor:pointer;
	filter:brightness(1.3) contrast(110%)
}
.k-music-btn:after {
	content:"";
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	pointer-events:none;
	background-image:radial-gradient(circle,#fff 10%,transparent 10.01%);
	background-repeat:no-repeat;
	background-position:50%;
	transform:scale(10,10);
	opacity:0;
	transition:transform .3s,opacity .5s
}
.k-music-btn:active:after {
	transform:scale(0,0);
	opacity:.3;
	transition:0s
}
</style>
<script src="https://cdn.jsdelivr.net/npm/meting/dist/Meting.min.js"></script>
<div class="k-music-card">
<meting-js
	server="{{meting.server}}"
	type="{{meting.type}}"
	id="{{meting.id}}"
	autoplay="{{meting.autoplay}}"
	theme="{{meting.theme}}"
	loop="{{meting.loop}}"
	order="{{meting.order}}"
	preload="{{meting.preload}}"
	volume="{{meting.volume}}"
	mutex="{{meting.mutex}}"
	list-folded="true"
	list-max-height="296px"
	storage-name="metingjs">
</meting-js>
<div class="k-music-btn">‖</div>
</div>
<script>
$(document).on("touchstart", function(e) {
  var touch = e.originalEvent.touches[0] || e.originalEvent.changedTouches[0];
});
$(".aplayer-list").addClass("aplayer-list-hide");
if ($(window).width() <= 600) {
  var flag = true;
} else {
  var flag = false;
}
$(".k-music-btn").click(function() {
  if (flag == false) {
    $(".k-music-card").css("transform", "translateX(calc(-100% + 20px))");
    flag = true;
  } else if (flag == true) {
    $(".k-music-card").css("transform", "translateX(0px)");
    flag = false;
  }
  if (!$(".aplayer-list").hasClass("aplayer-list-hide")) {
    $(".aplayer-list").addClass("aplayer-list-hide");
  }
});
document.addEventListener(
  "visibilitychange",
  function() {
    if (document.visibilityState == "hidden") {
      ap.pause();
    }
    if (document.visibilityState == "visible") {
      ap.play();
    }
  },
  false
);
</script>