<style>
.k-mdui-card {
    background-color: rgba(0, 0, 0, 0);
}
.k-card-toolbar{
    background: rgba(48, 48, 51, 0.8);
}
@supports (-webkit-backdrop-filter: brightness(100%) blur(15px)) or (backdrop-filter: brightness(100%) blur(15px)){
.k-card-toolbar {
    background-color: rgba(48, 48, 51, 0.8);
    -webkit-backdrop-filter: brightness(100%) blur(15px);
    backdrop-filter: brightness(100%) blur(15px);
    }
}
.aplayer{
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    box-shadow: none;
    border-radius: 0px;
    overflow: hidden;
    user-select: none;
    line-height: initial;
    position: relative;
}
</style>
  <script src="https://cdn.jsdelivr.net/npm/meting@2/dist/Meting.min.js"></script>
<div class="k-mdui-card mdui-card mdui-hoverable">
  <div class="k-card-toolbar mdui-toolbar">
    <span class="mdui-typo-title mdui-text-color-white mdui-valign"><img src="https://aligege-1259468288.file.myqcloud.com/svgs/netease_music_red.svg" width="22" height="22"/>&nbsp;&nbsp;网易云歌单</span>
    <div class="mdui-toolbar-spacer"></div>
  <a href="http://music.163.com/playlist/21347411/30486864/?userid=30486864" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '<center>我喜欢的音乐</center>'}" target="_blank"><i class="mdui-icon material-icons mdui-text-color-red">favorite_border</i></a>
</div>
<meting-js
	server="netease"
	type="playlist"
	id="21347411"
	autoplay="false"
	theme="#f44336"
	loop="all"
	order="list"
	preload="auto"
	volume="0.7"
	mutex="true"
	list-folded="false"
	list-max-height="330px"
	storage-name="metingjs">
</meting-js>
</div>