<style>
.license-card {
	background-color: #f5f5f5;
	border-radius: 12px;
	border: 2px solid #bdbdbd;
	max-width: 480px;
	margin-top: 32px;
	margin-bottom: 20px;
	padding: 16px;
}
</style>
<div class="mdui-center license-card mdui-card mdui-shadow-3 mdui-typo">
	<p style="color:grey">
		<small>
			<strong>
				本文遵循
				<a href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank">
					Attribution-NonCommercial 4.0 International
				</a>
				许可协议。
				</br>
				转载需注明出处，且禁止用于商业目的。
			</strong>
		</small>
	</p>
	<a href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank">
		<img src="https://aligege-1259468288.file.myqcloud.com/img/licenses_cc_by_nc_120x42px.png"
		width="72" height="25.2" mdui-tooltip="{content: '<center>署名-非商业性使用 4.0 国际许可协议<br>(CC BY-NC 4.0)</center>'}" />
	</a>
</div>