<div class="mdui-divider"></div>
  <br>
    <div class="mdui-container">
    <div class="mdui-clearfix">
    {% if page.previous.url %}
    <div class="mdui-col mdui-float-left">
    <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}"><button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-pink-accent" mdui-tooltip="{content: '{{page.previous.title}}'}"><i class="mdui-icon mdui-icon-left material-icons">arrow_back</i> 上一篇 </button></a>
    </div>
    {% else %}
    <div class="mdui-col mdui-float-left">
    <button class="mdui-btn mdui-btn-raised" disabled><i class="mdui-icon mdui-icon-left material-icons">arrow_back</i> 上一篇 </button>
    </div>
    {% endif %}
    {% if page.next.url %}
    <div class="mdui-col mdui-float-right">
    <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}"><button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-pink-accent" mdui-tooltip="{content: '{{page.next.title}}'}"><i class="mdui-icon mdui-icon-right material-icons">arrow_forward</i> 下一篇 </button></a>
    </div>
    {% else %}
    <div class="mdui-col mdui-float-right">
    <button class="mdui-btn mdui-btn-raised" disabled><i class="mdui-icon mdui-icon-right material-icons">arrow_forward</i> 下一篇 </button>
    </div>
    {% endif %}
    </div>
    </div>
  </br>
<div class="mdui-divider"></div>