<div id="vssue"></div>
<script>
usepath = location.pathname.replace('/Ruleset','');
usepath = usepath.replace('/Living','');
usepath = usepath.replace('/technology','');
usepath = usepath.replace('.html','');
new Vue({
    el: '#vssue',
      render: h => h('Vssue', {
        props: {
          title: md5(usepath),
          options: {
            owner: '{{ site.data.site.comment.vssue_owner }}',
            repo: '{{ site.data.site.comment.vssue_repo }}',
            clientId: '{{ site.data.site.comment.vssue_clientId }}',
            clientSecret: '{{ site.data.site.comment.vssue_clientSecret }}',
          },
        }
    })
})
</script>