<style>
.k-head-card-media{
    display: block
    cursor: pointer;
    max-height: 245px;
    min-height: 245px;
    background-position: 50% 50%;
    background-size: cover;
    background-color: #303033;
}
.mdui-card-media{
    background-color: #303033;
}
.mdui-card-media img.k-head-card-img{
    width: 128px;
    margin: 0 auto;
}
</style>
<body>
<div class="k-posts-list"></div>
  <div class="mdui-container">
    <div class="mdui-card mdui-hoverable">
    <div class="mdui-card-media k-head-card-media mdui-valign">
    <img class="k-head-card-img" src="https://i.loli.net/2019/06/24/5d104d46934b465483.png" alt="">
    </div>
    </br>
    <div class="mdui-text-center mdui-card-primary-title">
    {{ lang.error.403x }}
    </div>
    </br>
    </div>
    </br>
    </br>
    <div class="mdui-col">
    <a href="{{ "/" | prepend: site.baseurl }}"><button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-pink-accent"><i class="mdui-icon mdui-icon-left material-icons">arrow_back</i> 返回首页 </button></a>
    </div>
  </div>
</br>
{% include content/component/lazyload.html %}
</body>