<style>
.k-mdui-card{
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.8);
}
.k-head-card-media{
    max-height: 245px;
    min-height: 245px;
    background-color: rgba(48, 48, 51, 0.8);
}
.k-head-card-title{
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.9);
}
</style>
<body>
    <div class="k-posts-list"></div>
    <div class="k-mdui-card mdui-card mdui-hoverable">
    <div class="k-head-card-media mdui-card-media mdui-ripple mdui-valign">
    <div class="k-head-card-title mdui-typo-display-4 doudong">4 0 4</div>
    </div>
    <div class="mdui-card-primary mdui-text-center">
    <div class="mdui-card-primary-title">{{ lang.error.title }}</div>
    <div class="mdui-card-primary-subtitle"><strong>{{ lang.error.subtitle }}</strong></div>
    </div>
    </div>
    </br>
    </br>
    <div class="mdui-text-center">
    <a href="{{ "/" | prepend: site.baseurl }}"><button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-pink-accent"><i class="mdui-icon mdui-icon-left material-icons">arrow_back</i> {{ lang.error.button }} </button></a>
    </div>
</body>