<style>
.k-head-card-media{
    max-height: 245px;
    min-height: 245px;
    background-color: #303033;
}
.mdui-card-media img.k-head-card-img{
    width: 128px;
    margin: 0 auto;
}
</style>
<body>
    <div class="k-posts-list"></div>
    <div class="mdui-card mdui-hoverable mdui-center">
    <div class="mdui-card-media k-head-card-media mdui-valign">
    <img class="k-head-card-img" src="https://i.loli.net/2019/06/24/5d104d46934b465483.png" alt="">
    </div>
    <div class="mdui-card-primary mdui-text-center">
    <div class="mdui-card-primary-title">{{ lang.error.404x }}</div>
    <div class="mdui-card-primary-subtitle"><strong>很抱歉，您要访问的页面不存在！</strong></div>
    </div>
    </div>
    </br>
    </br>
    <div class="mdui-text-center">
    <a href="{{ "/" | prepend: site.baseurl }}"><button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-pink-accent"><i class="mdui-icon mdui-icon-left material-icons">arrow_back</i> 返回首页 </button></a>
    </div>
</body>